.rest-header, .rest-form{
    display: flex;
}

.rest-header{
    justify-content: space-between;
    padding: 0% 10%;
}

.rest-form{
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 5vh;
    background-color: antiquewhite;
    border-radius: 35px;
}

.rest-form input{
    width: auto;
    height: 5vh;
    background-color: transparent;
    outline: none;
}

.rest-form img{
    height:2vh;
}

.restaurant-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#F6F6F6;
    width: 80%;
    height: 40vh;
    margin: 3% auto;
    border-radius: 25px;
}


.restaurant-card img{
    height: 30vh;
}

.restaurant-card div{
    padding: 3% 0%;
    text-align: center;
    width: 50%;
}

.restaurant-card p{
    width: 70%;
    text-align: center;
    margin: 0% auto;
}

.btn-style{
    border-radius: 10px;
}

.btn-style:hover{
    background-color: red;
}

@media screen and (max-width: 480px) {
    .restaurant-card{
        flex-direction: column;
        height: auto;
        padding: 5% 0%;
        width: 90%;
    }

    .restaurant-card button{
        width: 100%;
    }
   
}